
.theme-1 {
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --key-number-background: hsl(30, 25%, 89%);
  --key-number-shadow: hsl(28, 16%, 65%);
  --key-result-background: hsl(6, 63%, 50%);
  --key-result-shadow: hsl(6, 70%, 34%);
  --dark-text: hsl(216, 6%, 17%);
  --light-text: hsl(0, 0, 100%);
}

.theme-2 {
  --main-background: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-result-background: hsl(25, 98%, 40%);
  --key-result-shadow: hsl(25, 99%, 27%);
  --key-number-background: hsl(45, 7%, 89%);
  --key-number-shadow: hsl(35, 11%, 61%);
  --dark-text: hsl(60, 10%, 19%);
  --light-text: hsl(0, 0, 100%);
}

.theme-3 {
  --main-background: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(281, 89%, 26%);
  --key-background: hsl(285, 91%, 52%);
  --key-shadow: hsl(176, 100%, 44%);
  --key-number-background: hsl(177, 92%, 70%);
  --key-number-shadow: hsl(268, 47%, 21%);
  --key-result-background: hsl(290, 70%, 36%);
  --key-result-shadow: hsl(35, 11%, 61%);
  --dark-text: hsl(198, 20%, 13%);
  --light-text: hsl(0, 0, 100%);
  --light-yellow-text: hsl(52, 100%, 62%);
}

input[type='text' i] {
  flex:1;
  height: 120px;
  width: 100%;
  line-height: 48px;
  border:none;
  font-size: 1.3em;
  outline: 0;
  padding: 3% 5%;
  background-color: var(--toggle-keypad-background);
  color: white;
  direction: rtl;
  border-radius: .8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
